:root,
.gc-colors-default {

	/* GENERAL*/
	--gc-color-background: #151515;
	--gc-color-header: #181818;
	--gc-color-footer: #181818;

	--gc-color-text: #bababa;
	--gc-color-panel: #1f2021;
	--gc-color-panel-outline: #7c7c7c4c;


	/* SELECTION */
	--gc-color-selection: #d81dac;
	--gc-color-focus: #23bbd9;

	/*  OUTLINER */
	--gc-color-outliner-border: rgba(255, 255, 255, 0.152);

	/* NODES */
	--gc-color-node-enabled: #54c30f;
	--gc-color-node-inactive: #e3bc0a;

	/* PARAMETERS */
	--gc-color-readonly: rgb(22, 134, 226);

	--gc-color-trigger: #5a5a5aac;
	--gc-color-trigger-on: #d81dac;

	--gc-color-checkbox-bg: #151515c6;
	--gc-color-checkbox-fg: #b527c8;
	--gc-color-slider-bg: #04040468;
	--gc-color-slider-fg: #b527c8;

	--gc-color-dropdown-bg: #131313f0;

	/* META */
	--gc-color-warning: #e4901c;
	--gc-color-success: #95e554;
	--gc-color-error: #bf4d43;


	/* DOCKVIEW COLORS */
	--gc-color-dock-surface: transparent;
	--gc-color-dock-group-background: transparent;
	--gc-color-dock-tabbar-background: transparent;
	--gc-color-dock-tab-active-background: #c31388ac;
	--gc-color-dock-tab-hidden-background: #4f4f4f;
	--gc-color-dock-tab-inactive-background: #3a3a3a;
	--gc-color-dock-tab-inactive-hidden-background: #3a3a3a;
	--gc-color-dock-tab-active-text: #edf3ff;
	--gc-color-dock-tab-hidden-text: #bababa;
	--gc-color-dock-tab-inactive-text: #848484;
	--gc-color-dock-tab-inactive-hidden-text: #848484;
	--gc-color-dock-tab-divider: #324768;
	--gc-color-dock-separator: none;

	--gc-color-dock-sash: rgba(255, 255, 255, 0.008);
	--gc-color-dock-sash-active: #a21caa;
	--gc-color-dock-drag-border: #61a4ff;
	--gc-color-dock-drag-overlay: rgba(97, 164, 255, 0.2);
	--gc-color-dock-icon-hover: rgba(97, 164, 255, 0.22);
	--gc-color-dock-scrollbar: #5f77ac;
	--gc-color-dock-shadow: rgba(5, 10, 19, 0.58);
}